body {
    background-color: rgb(23, 23, 25);
    margin: 0;
    color: aliceblue;
    padding: 7% 10% 10% 10%;
}

h1 {
    position: relative;
    padding-top: 5%;
    color: white;
    font-size: 5vw;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

h2 {
    position: relative;
    padding-top: 5%;
    color: white;
    font-size: 3vw;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

h3 {
    padding-top: 3%;
    position: relative;
    color: white;
    font-size: 2vw;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

h4 {
    padding-top: 1%;
    position: relative;
    color: white;
    font-size: 1.5vw;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

p {
    position: relative;
    color: white;
    font-size: 1.2vw;
    font-family: 'Trebuchet MS', sans-serif;
}

li {
    position: relative;
    color: white;
    font-size: 1.2vw;
    font-family: 'Trebuchet MS', sans-serif;
}

.back-button {
    cursor: pointer;
    position: fixed;
    display: block;
    top: 7vw;
    left: 7vw;
    background-color: transparent;
    border: 0;
    color: aliceblue;
    font-size: 1.7vw;
    font-family: 'Courier New', monospace;
    font-weight: bold;
  }

  .back-button:hover {
    color: rgb(245, 179, 172);
  }