body {
  background-color: rgb(23, 23, 25);
  margin: 0;
}

.cr-notice {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(23, 23, 25);
  color: white;
  text-align: center;
  font-size: 0.8vw;
}

.fadeImg {
  position: relative;
}

@media (max-aspect-ratio: 20/1) and (min-aspect-ratio: 1/1){
  .fadeImg img{
    height: 87vh;
    width: 100vw;
    margin-right: -100%;
    float: left;
    object-fit: cover;
  }

  .container-title-centered-h{
    position: relative;
    padding-top: 10%;
    color: white;
    text-align: center;
    font-size: 9vw;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 1vw;
  }

  .container-title-centered-p{
    position: relative;
    color: white;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Courier New', monospace;
    font-weight: bold;
  }

  .container-text-centered-h{
    position: relative;
    padding-top: 10%;
    color: white;
    text-align: center;
    font-size: 7vw;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 1vw;
  }

  .container-text-centered-p{
    position: relative;
    color: white;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Courier New', monospace;
    font-weight: bold;
  }
}

@media (max-aspect-ratio: 1/1) and (min-aspect-ratio: 1/20) {
  .fadeImg img{
    height: 40vh;
    width: 100vw;
    margin-right: -100%;
    float: left;
    object-fit: cover;
  }

  .container-title-centered-h{
    position: relative;
    padding-top: 20%;
    color: white;
    text-align: center;
    font-size: 14vw;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 1vw;
  }

  .container-title-centered-p{
    position: relative;
    color: white;
    text-align: center;
    font-size: 2vw;
    font-family: 'Courier New', monospace;
    font-weight: bold;
  }

  .container-text-centered-h{
    position: relative;
    padding-top: 10%;
    color: white;
    text-align: center;
    font-size: 7vw;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 1vw;
  }

  .container-text-centered-p{
    position: relative;
    color: white;
    text-align: center;
    font-size: 1.7vw;
    font-family: 'Courier New', monospace;
    font-weight: bold;
  }
}

.separator {
  clear: left; 
  padding-top: 1.5vw;
}

.project-row {
  display: block;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
}

.middle-cell{
  position: relative;
  width:32.33%; 
  float: left; 
  margin-right: 1.5%; 
  margin-left: 1.5%;
}

.side-cell{
  position: relative;
  width:32.33%; 
  float: left
}





.w3-left, .w3-right, .w3-badge {
  cursor: pointer; 
  clear: left; 
}

.w3-badge {
  height: 1vh;
  width: 1vh;
  padding: 0; 
  clear: left; 
}

.image-cycling {
  bottom: 0px;
}

.project-container {
  position: relative;
  width: 50%;
}

.project-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.project-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.side-cell:hover .project-image {
  opacity: 0.2;
}

.middle-cell:hover .project-image {
    opacity: 0.2;
}

.side-cell:hover .project-middle {
  opacity: 1;
}

.middle-cell:hover .project-middle {
    opacity: 1;
}

.project-text {
  color: white;
  font-size: 3vw;
  font-weight: bold;
}

.project-text-source {
  padding-top: 10%;
  color: white;
  font-size: 1.4vw;
  font-weight: bold;
}

.social-media-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5vw;
  height: 14vw;
}

.social-media-bar a{
  font-size: 4vw;
  color: white;
  display: inline-block;
}


.side-nav a {
  position: fixed;
  left:87%;
  padding: 1vw;
  width: 10%;
  display: flex;
  align-items: center;
  color: transparent;
  font-size: 1.3vw;
  font-family: 'Trebuchet MS', sans-serif;
}

.side-nav a:hover .nav-text {
  color: white !important;
}

.side-nav a:hover circle {
  fill: wheat !important;
}

.home {
  top: 3vw;
}

.projects {
  top: 6vw;
}

.contact {
  top: 9vw;
}

circle:hover {
  fill: wheat !important;
}

circle {
  fill: transparent;
  stroke-width: 0.1vw;
  stroke: white;
}

svg {
  display: inline-block;
  position: absolute;
  left:80%;
  top: 30%;
}


span {
  display: block;
  text-align: end;
  position: absolute;
}


.project-title-div {
  margin-bottom: 10vh;
  text-overflow: inherit;
}

.project-showcase-phone-cell-left {
  position: relative;
  width:25vw; 
  margin-left: 16vw;
  margin-right:7vw;
  display:inline-block;
}
.project-showcase-phone-cell-right {
  position: relative;
  width:25vw; 
  margin-right: 16vw;
  margin-left: 7vw;
  display:inline-block;
}
